.promotion main {
    padding: 320px 10px 150px 10px;
}

.promotion main .container {
    width: 93%;
    /* max-width: 1150px; */
    margin: 0 auto;
}

.promotion main h1 {
    margin-bottom: 25px;
    font-size: 30px;
}



.promo-report-box {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.promo-report-box:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.promo-report-header {
    background-color: #9c27b0;
    color: #fff;
    font-size: .9rem;
    padding: 10px;
    border-bottom: 1px solid #7b1fa2;
}

.promo-report-content {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-report-content a {
    color: #9c27b0;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    word-break: break-word;
}

.promo-report-content a:hover {
    color: #7b1fa2;
}

.copy-button {
    background-color: #9c27b0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
}

.copy-button:hover {
    background-color: #7b1fa2;
}

.copy-button:focus {
    outline: none;
    /* Remove outline on focus */
}