.subReports header {
    /* background-image: linear-gradient(to top, #9c27b0 0%, #4a148c 100%); */
}

.subReports main {
    padding-top: 320px;
    padding-bottom: 150px;
}
.subReports main h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #2b354f;
    margin-bottom: 30px;
}

.reportLeft {
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 14px -1px #ccc;
    padding-bottom: 15px;
}
.repTopTitle {
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
}
.repTopTitle h3 {
    font-size: 20px;
    font-weight: 600;
    color: #2b354f;
}
.reportLeft ul li {
    padding: 10px 25px;
}


.reportRight {
    width: calc(100% - 300px);
    padding-left: 50px;
}




.pageWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.pageWrap span {
    width: 50px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b354f;
    cursor: pointer;
}
.pageWrap span:nth-child(2) {
    background-color: #fff;
    cursor: unset;
    font-size: 17px;
    font-weight: 500;
}
.pageWrap span img {
    width: 15px;
    filter: invert(100%);
}